.DS_Store
Thumbs.db

config.user.inc.php
/files/
/build/

codeception.yml
/tests/_output/
/tests/_support/*Tester.php
/tests/_support/_generated/
/tests/*.suite.yml
/doxygen/dist

/node_modules/
/bower_components/
/vendor/
composer.phar
composer.lock

.idea
*.sublime-workspace
*.sublime-project
.codeintel

install.config.php

layouts/plain
layouts/TrendshopA_sv/
layouts/TrendshopS_sv/
layouts/jquerymobile/
layouts/kpi_dashboard/
layouts/singleskushop/
layouts/svcheckout_layout/
layouts/xet_avenir_sv/
layouts/xet_branding_nt/
layouts/xet_fullpage/
layouts/xet_fullpage_nt/
layouts/xet_fullpage_sv/
layouts/xet_plus/
layouts/xet_sense_nt/

modules/board/skins/sketchbook5_php8/

addons/svauth
addons/svtracker

modules/multidomain
modules/appstore
modules/svmarket
modules/svcollector
modules/svauth
modules/svdocs
modules/svshortener