.DS_Store
Thumbs.db

config.user.inc.php
/files/
/build/
/gaectk/
.vscode

codeception.yml
/tests/_output/
/tests/_support/*Tester.php
/tests/_support/_generated/
/tests/*.suite.yml
/doxygen/dist

/node_modules/
/bower_components/
/vendor/
composer.phar
composer.lock

.idea
*.sublime-workspace
*.sublime-project
.codeintel

install.config.php

sitemap.xml

layouts/plain
layouts/Trendshop*
layouts/jquerymobile/
layouts/kpi_dashboard/
layouts/singleskushop/
layouts/svcheckout_layout/
layouts/xet_*

m.layouts/trendshop

addons/sv*

modules/board/skins/sketchbook5*
modules/member/skins/xet*
modules/sv*
modules/multidomain
modules/appstore

widgets/cameron*
widgets/xet*
widgetstyles/Trendshop*
widgetstyles/plain*
widgetstyles/trendshop*

google*
naver*
img_assets
robots.txt
