<?xml version="1.0" encoding="UTF-8"?>
<module>
	<grants />
	<permissions>
		<permission action="dispAppstoreAdminContentModify" target="manager" />
		<permission action="procAppstoreAdminInsert" target="manager" />
		<permission action="procAppstoreAdminInsertContent" target="manager" />
	</permissions>
	<actions>
		<action name="dispAppstoreIndex" type="view" index="true" />

		<!-- admin -->
		<action name="dispAppstoreAdminModInstList" type="view" admin_index="true" menu_name="page" menu_index="true" />
        <action name="dispAppstoreAdminInsertModInst" type="view" />

        <action name="procAppstoreAdminInsertModInst" type="controller" />
	</actions>
</module>
